Repository adamws/keyboard-tools: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-deploy, run-build-code, run-tests, run-deploy-docs

Bump version
  .circleci/continue-config.yml
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code

Update documentation
  docs/package-lock.json
  docs/package.json
  docs/src/guide.md
Due: run-deploy-docs

Update javascript dependencies
  docs/package-lock.json
  docs/package.json
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code, run-deploy-docs

Update kbplacer to version 0.9
  kicad-api/Dockerfile
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
Due: run-build-code

Fix pcbdraw related issues
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
Due: run-build-code

Bump version
  .circleci/continue-config.yml
  webapp/package.json
Due: run-build-code

Sanitize project name before constructing paths out of it
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
Due: run-build-code

Extract template copy stage to function
  kicad-api/src/kicad.py
Due: run-build-code

Path handling cleanup and functional test for it
  kicad-api/src/kicad.py
  tests/e2e-tests/test_layout_uploads.py
  tests/e2e-tests/test_layout_uploads/2x2_name.json
Due: run-build-code, run-tests

Update tests dependencies
  tests/requirements.txt
Due: run-tests

Update server dependencies
  server/go.mod
  server/go.sum
Due: run-build-code

Update javascript packages
  docs/package-lock.json
  docs/package.json
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code, run-deploy-docs

Update README
  README.md
Due: none

Fix searching for container by name
  tests/conftest.py
Due: run-tests

Assert key distances
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Add tooltip
  webapp/src/components/PcbSettings.vue
Due: run-build-code

Add option to define non-default key distance
  kicad-api/src/kicad.py
  server/web/app.go
  tests/backend-tests/test_backend.py
  tests/e2e-tests/test_layout_uploads.py
  webapp/src/components/PcbSettings.vue
Due: run-build-code, run-tests

Update dependencies
  docs/package.json
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
  server/go.mod
  server/go.sum
  tests/requirements.txt
  webapp/package.json
Due: run-build-code, run-tests, run-deploy-docs

Update ubuntu image on CI
  .circleci/config.yml
  .circleci/continue-config.yml
  deploy/README.md
  docs/src/development.md
  tests/README.md
Due: run-deploy, run-tests, run-deploy-docs

Update images
  deploy/Dockerfile
Due: run-deploy

Remove obsolete version definition
  deploy/docker-compose.yml
  kicad-api/docker-compose.yml
  tests/docker-compose.override.yml
  tests/docker-compose.yml
Due: run-deploy, run-build-code, run-tests

Update selenium firefox image
  tests/docker-compose.yml
Due: run-tests

Update deploy script
  deploy/deploy.sh
Due: run-deploy

Update javascript dependencies
  docs/package-lock.json
  docs/package.json
  webapp/package-lock.json
  webapp/package.json
  webapp/vite.config.mjs
Due: run-build-code, run-deploy-docs

Fix calculation of y coordinate for rotated keys
  server/web/kle.go
Due: run-build-code

Update worker dependencies
  kicad-api/Dockerfile
  kicad-api/requirements.txt
Due: run-build-code

Increase resource class and no output timeout
  .circleci/continue-config.yml
Due: none

Add umami analytics
  webapp/index.html
Due: run-build-code

Update go dependencies
  server/go.mod
  server/go.sum
Due: run-build-code

Update test dependencies
  tests/requirements.txt
Due: run-tests

Update worker dependencies
  kicad-api/requirements.txt
Due: run-build-code

Remove unused imports
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Path conditions:
  run-deploy: any of: deploy/.*
  run-build-code: ((any of: kicad-api/.*) or (any of: server/.*)) or (any of: webapp/.*)
  run-tests: any of: tests/.*
  run-deploy-docs: any of: docs/.*
