Repository adamws/keyboard-tools: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-deploy, run-build-code, run-tests, run-deploy-docs

Fix url parsing when using webapp in development environment
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Clean kle-serial patch
  webapp/package.json
  webapp/patches/@ijprest+kle-serial+0.15.1.patch
Due: run-build-code

Update javascript dependencies
  docs/package-lock.json
  docs/package.json
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code, run-deploy-docs

Update go dependencies
  deploy/Dockerfile
  server/go.mod
  server/go.sum
Due: run-deploy, run-build-code

Bump version
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code

Bump version
  .circleci/continue-config.yml
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code

Move kicad generator website to another folder
  deploy/Dockerfile
  deploy/docker-compose.yml
  docs/src/development.md
  frontend/kicad-app/.env.development
  frontend/kicad-app/.env.production
  frontend/kicad-app/.eslintrc.js
  frontend/kicad-app/.gitignore
  frontend/kicad-app/.prettierignore
  frontend/kicad-app/.prettierrc.json
  frontend/kicad-app/index.html
  frontend/kicad-app/package-lock.json
  frontend/kicad-app/package.json
  frontend/kicad-app/patches/@ijprest+kle-serial+0.15.1.patch
  frontend/kicad-app/public/favicon.ico
  frontend/kicad-app/src/App.vue
  frontend/kicad-app/src/assets/github-mark.svg
  frontend/kicad-app/src/assets/logo.png
  frontend/kicad-app/src/components/About.vue
  frontend/kicad-app/src/components/Help.vue
  frontend/kicad-app/src/components/KicadHandler.vue
  frontend/kicad-app/src/components/KleConverter.vue
  frontend/kicad-app/src/components/PcbRender.vue
  frontend/kicad-app/src/components/PcbSettings.vue
  frontend/kicad-app/src/main.js
  frontend/kicad-app/src/router/index.js
  frontend/kicad-app/src/style.css
  frontend/kicad-app/tsconfig.json
  frontend/kicad-app/vite.config.mjs
  server/web/app.go
  tests/conftest.py
  tests/docker-compose.override.yml
  tests/docker-compose.yml
Due: run-deploy, run-build-code, run-tests, run-deploy-docs

Update path filtering
  .circleci/config.yml
Due: none

Move documentation out of github pages
  .circleci/config.yml
  .circleci/continue-config.yml
  deploy/Dockerfile
  docs/deploy.sh
  docs/src/.vitepress/config.js
  frontend/kicad-app/src/App.vue
  frontend/kicad-app/src/components/Help.vue
  frontend/kicad-app/src/router/index.js
  server/web/app.go
  tests/e2e-tests/test_webapp_paths.py
Due: run-deploy, run-build-code, run-tests, run-deploy-docs

Colors update
  frontend/kicad-app/src/style.css
Due: none

Add landing page
  .circleci/config.yml
  .circleci/continue-config.yml
  deploy/Dockerfile
  deploy/README.md
  deploy/docker-compose.yml
  frontend/landing-page/index.html
  frontend/landing-page/package-lock.json
  frontend/landing-page/package.json
  frontend/landing-page/public/favicon.ico
  frontend/landing-page/src/App.vue
  frontend/landing-page/src/main.js
  frontend/landing-page/src/style.css
  frontend/landing-page/vite.config.js
  server/web/app.go
  tests/README.md
  tests/conftest.py
  tests/docker-compose.override.yml
  tests/docker-compose.yml
  tests/test.env
Due: run-deploy, run-build-code, run-tests

Update readme
  README.md
Due: none

Update js dependencies
  docs/package-lock.json
  docs/package.json
  frontend/kicad-app/package-lock.json
  frontend/kicad-app/package.json
Due: run-deploy-docs

Update server dependencies
  server/go.mod
  server/go.sum
Due: run-build-code

Bump version
  .circleci/continue-config.yml
  frontend/kicad-app/package-lock.json
  frontend/kicad-app/package.json
Due: none

Update README.md
  README.md
Due: none

Minor updates
  deploy/README.md
  deploy/docker-compose.yml
Due: run-deploy

Remove `matrixOption` and disable `controllerCircuit` in the API
  frontend/kicad-app/src/components/PcbSettings.vue
  server/web/app.go
  server/web/kle.go
  tests/backend-tests/test_backend.py
  tests/backend-tests/test_backend/2x2_internal.json
  tests/backend-tests/test_backend/arisu_internal.json
  tests/e2e-tests/test_layout_uploads.py
  tests/e2e-tests/test_layout_uploads/2x2.json
  tests/e2e-tests/test_layout_uploads/2x2_name.json
  tests/e2e-tests/test_layout_uploads/arisu.json
  tests/e2e-tests/test_layout_uploads/sizes.json
Due: run-build-code, run-tests

Remove `skidl` and `PcbDraw` dependencies
  README.md
  docs/src/index.md
  kicad-api/Dockerfile
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
  tests/e2e-tests/test_layout_uploads.py
Due: run-build-code, run-tests, run-deploy-docs

Replace minio with seaweedfs
  deploy/docker-compose.yml
  deploy/production.env
  kicad-api/Dockerfile
  kicad-api/docker-compose.yml
  kicad-api/requirements.txt
  kicad-api/src/tasks.py
  server/go.mod
  server/go.sum
  server/web/app.go
  tests/README.md
  tests/docker-compose.yml
  tests/test.env
Due: run-deploy, run-build-code, run-tests

Generate nicer board images
  kicad-api/src/kicad.py
Due: run-build-code

Major rework of server & worker
  deploy/docker-compose.yml
  kicad-api/docker-compose.yml
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
  kicad-api/src/tasks.py
  server/server.go
  server/web/app.go
  server/web/kle.go
  tests/backend-tests/test_backend.py
  tests/docker-compose.yml
Due: run-deploy, run-build-code, run-tests

Bundle switch footprints with result project
  kicad-api/src/kicad.py
  tests/backend-tests/test_backend.py
Due: run-build-code, run-tests

Migrate worker to go and switch both from celery to asynq
  .circleci/continue-config.yml
  .dockerignore
  .justfile
  deploy/docker-compose.yml
  kicad-api/docker-compose.yml
  kicad-api/requirements.txt
  kicad-api/src/__init__.py
  kicad-api/src/kicad.py
  kicad-api/src/tasks.py
  kicad-backend/cmd/server/main.go
  kicad-backend/cmd/worker/main.go
  kicad-backend/docker-compose.yml
  kicad-backend/docker/server.Dockerfile
  kicad-backend/docker/worker.Dockerfile
  kicad-backend/go.mod
  kicad-backend/go.sum
  kicad-backend/go.work
  kicad-backend/internal/kicad/errors.go
  kicad-backend/internal/kicad/kicad.go
  kicad-backend/internal/kicad/paths.go
  kicad-backend/internal/storage/filer.go
  kicad-backend/internal/storage/zip.go
  kicad-backend/internal/worker/config.go
  kicad-backend/internal/worker/task_handler.go
  kicad-backend/internal/worker/worker.go
  server/.gitignore
  server/go.mod
  server/go.sum
  server/server.go
  tests/.gitignore
  tests/backend-tests/test_backend.py
  tests/docker-compose.yml
  tests/test.env
Due: run-deploy, run-build-code, run-tests

Redirect all non-api paths to kle-ng website
  kicad-backend/cmd/server/main.go
Due: none

Update deployment docker compose
  .justfile
  deploy/.env
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/flower/Dockerfile
  deploy/flower/flower.sh
  deploy/production.env
  deploy/prometheus/alerts.yml
  deploy/prometheus/prometheus.yml
  kicad-backend/cmd/server/main.go
Due: run-deploy

Add endpoint for workers status
  kicad-backend/cmd/server/main.go
Due: none

Use key spacing encoded in layout data
  kicad-backend/internal/kicad/kicad.go
  tests/backend-tests/test_backend.py
  tests/backend-tests/test_backend/2x2_internal_custom_sizing.json
Due: run-tests

Limit number of keys in a layout
  kicad-backend/internal/kicad/kicad.go
Due: none

Remove status from progress type
  kicad-backend/cmd/server/main.go
  kicad-backend/internal/worker/task_handler.go
Due: none

Deduplicate progress type and env handling
  kicad-backend/cmd/server/main.go
  kicad-backend/internal/common/env.go
  kicad-backend/internal/common/progress.go
  kicad-backend/internal/worker/config.go
  kicad-backend/internal/worker/task_handler.go
Due: none

Add task cancellation and monitor abandoned tasks
  deploy/production.env
  kicad-backend/cmd/server/main.go
  kicad-backend/docker-compose.yml
  tests/backend-tests/test_backend.py
Due: run-deploy, run-tests

Add error details on failure and do less retries
  kicad-backend/internal/kicad/errors.go
  kicad-backend/internal/kicad/kicad.go
  kicad-backend/internal/worker/task_handler.go
  tests/backend-tests/test_backend.py
Due: run-tests

Fix typo
  kicad-backend/internal/kicad/kicad.go
Due: none

Add support for defining rotations and diode position
  kicad-backend/internal/kicad/errors.go
  kicad-backend/internal/kicad/kicad.go
  kicad-backend/internal/worker/task_handler.go
  tests/backend-tests/test_backend.py
Due: run-tests

Use `CommandContext` for cancellation support
  kicad-backend/internal/kicad/kicad.go
  kicad-backend/internal/worker/task_handler.go
Due: none

Handle CORS allowed origin on production profile
  deploy/production.env
  kicad-backend/cmd/server/main.go
Due: run-deploy

Improve deployment docker compose
  deploy/docker-compose.yml
  deploy/production.env
Due: run-deploy

Path conditions:
  run-deploy: any of: deploy/.*
  run-build-code: ((any of: kicad-api/.*) or (any of: server/.*)) or (any of: webapp/.*)
  run-tests: any of: tests/.*
  run-deploy-docs: any of: docs/.*
