Repository adamws/keyboard-tools: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-deploy, run-build-code, run-tests, run-deploy-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1


jobs:
  default-configuration:
    executor: path-filtering/default
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: master
          mapping: |
            deploy/.* run-deploy true
            kicad-api/.* run-build-code true
            server/.* run-build-code true
            webapp/.* run-build-code true
            tests/.* run-tests true
            docs/.* run-deploy-docs true
      - run:
          name: Print continuation parameters
          command: |
            cat /tmp/pipeline-parameters.json
      - continuation/continue:
          configuration_path: .circleci/continue-config.yml
          parameters: /tmp/pipeline-parameters.json
  tags-only-configuration:
    executor: continuation/default
    steps:
      - checkout
      - run:
          name: Set continuation parameters
          command: |
            echo "{\"run-build-code\": true}" >> /tmp/pipeline-parameters.json
      - continuation/continue:
          configuration_path: .circleci/continue-config.yml
          parameters: /tmp/pipeline-parameters.json


workflows:
  setup:
    jobs:
      - default-configuration:
          filters:
            branches:
              ignore: gh-pages
      - tags-only-configuration:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/

Update to KiCad 7
  kicad-api/Dockerfile
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
Due: run-build-code

Update server dependencies
  server/go.mod
  server/go.sum
Due: run-build-code

Limit maximum keyboard size
  server/web/app.go
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Update formatter settings
  webapp/.prettierignore
  webapp/.prettierrc.json
Due: run-build-code

Fix upload icon
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/KicadHandler.vue
  webapp/src/components/KleConverter.vue
Due: run-build-code

Simplify PcbSettings component
  tests/e2e-tests/test_layout_uploads.py
  webapp/src/components/KicadHandler.vue
  webapp/src/components/PcbSettings.vue
Due: run-build-code, run-tests

Update KicadHandler component to use script setup syntax
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Update KleConverter component to use script setup syntax
  webapp/src/components/KleConverter.vue
Due: run-build-code

Render both PCB sides and add option to toggle them
  kicad-api/src/kicad.py
  kicad-api/src/tasks.py
  server/web/app.go
  webapp/src/components/KicadHandler.vue
  webapp/src/components/PcbRender.vue
Due: run-build-code

Format js and html files
  webapp/index.html
  webapp/src/main.js
  webapp/vite.config.js
Due: run-build-code

Simplify and format About and Help components
  webapp/src/components/About.vue
  webapp/src/components/Help.vue
Due: run-build-code

Format code
  webapp/src/App.vue
  webapp/src/components/PcbSettings.vue
Due: run-build-code

Update examples
  docs/src/assets/examples/2x2-pcb.png
  docs/src/assets/examples/2x2-pcb.svg
  docs/src/assets/examples/2x3-rotations-pcb.png
  docs/src/assets/examples/2x3-rotations-pcb.svg
  docs/src/assets/examples/3x2-sizes-pcb.png
  docs/src/assets/examples/3x2-sizes-pcb.svg
  docs/src/assets/examples/iso-enter-pcb.png
  docs/src/assets/examples/iso-enter-pcb.svg
  docs/src/examples.md
Due: run-deploy-docs

Update links to documentation
  README.md
Due: none

Fix report generation when test does not produce screenshot
  tests/conftest.py
Due: run-tests

Add step to display docker compose logs
  .circleci/continue-config.yml
Due: none

Add task rate limiting and improve handling of prefetched tasks
  deploy/docker-compose.yml
  kicad-api/docker-compose.yml
  server/web/app.go
  tests/backend-tests/test_backend.py
  tests/backend-tests/test_backend/2x2_internal.json
  tests/backend-tests/test_backend/arisu_internal.json
  tests/docker-compose.override.yml
Due: run-deploy, run-build-code, run-tests

Update dependencies
  deploy/Dockerfile
  server/go.mod
  server/go.sum
Due: run-deploy, run-build-code

Add loading overlay to controls div when waiting for result
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Update kle2netlist version to v0.2
  kicad-api/Dockerfile
  kicad-api/requirements.txt
Due: run-build-code

Bump version number
  .circleci/continue-config.yml
  webapp/package.json
Due: run-build-code

Add flower for celery monitoring
  deploy/deploy.sh
  deploy/docker-compose.yml
  deploy/flower/Dockerfile
  deploy/flower/flower.sh
  deploy/prometheus/prometheus.yml
Due: run-deploy

Add traefik reverse proxy for deployment with https
  .gitignore
  deploy/.env
  deploy/Dockerfile
  deploy/README.md
  deploy/deploy.sh
  deploy/docker-compose.yml
  deploy/prometheus/prometheus.yml
Due: run-deploy

Fix skidl version, `kle2netlist` does not work with latest one
  kicad-api/requirements.txt
Due: run-build-code

Add option to run tests on local selenium driver
  tests/README.md
  tests/backend-tests/test_backend.py
  tests/conftest.py
  tests/e2e-tests/test_layout_uploads.py
Due: run-tests

Add prometheus alert rules
  deploy/prometheus/alerts.yml
  deploy/prometheus/prometheus.yml
Due: run-deploy

Add test for web application urls handling
  tests/conftest.py
  tests/e2e-tests/test_webapp_paths.py
Due: run-tests

Introduce handler for Single Page Application
  server/web/app.go
Due: run-build-code

Improve performance by using modified `kinet2pcb`
  kicad-api/requirements.txt
Due: run-build-code

Update `kle2netlist` to fix stabilizer footprints
  kicad-api/requirements.txt
Due: run-build-code

Add test of layout with various size keys
  tests/e2e-tests/test_layout_uploads.py
  tests/e2e-tests/test_layout_uploads/sizes.json
Due: run-tests

Update requirements
  kicad-api/requirements.txt
Due: run-build-code

Update docs pages dependencies
  docs/package-lock.json
  docs/package.json
Due: run-deploy-docs

Update webapp dependencies
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code

Update base images
  deploy/Dockerfile
Due: run-deploy

Bump version
  .circleci/continue-config.yml
  webapp/package.json
Due: run-build-code

Add github sponsor
  .github/FUNDING.yml
Due: none
