Repository adamws/keyboard-tools: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-code, run-deploy, run-tests

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1


jobs:
  default-configuration:
    executor: path-filtering/default
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: master
          mapping: |
            .circleci/.* run-build-code true
            deploy/.* run-deploy true
            kicad-api/.* run-build-code true
            server/.* run-build-code true
            tests/.* run-tests true
      - run:
          name: Print continuation parameters
          command: |
            cat /tmp/pipeline-parameters.json
      - continuation/continue:
          configuration_path: .circleci/continue-config.yml
          parameters: /tmp/pipeline-parameters.json
  tags-only-configuration:
    executor: continuation/default
    steps:
      - checkout
      - run:
          name: Set continuation parameters
          command: |
            echo "{\"run-build-code\": true}" >> /tmp/pipeline-parameters.json
      - continuation/continue:
          configuration_path: .circleci/continue-config.yml
          parameters: /tmp/pipeline-parameters.json


workflows:
  setup:
    jobs:
      - default-configuration:
          filters:
            branches:
              ignore: gh-pages
      - tags-only-configuration:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/

Fix cert resolver for deployment docker compose
  deploy/docker-compose.yml
Due: run-deploy

Deploy landing page to GitHub Pages
  .github/workflows/main.yml
  deploy/docker-compose.yml
Due: run-deploy

Add server endpoint which returns version data
  .circleci/continue-config.yml
  kicad-backend/cmd/server/main.go
  kicad-backend/docker/server.Dockerfile
  tests/backend-tests/test_backend.py
  tests/conftest.py
Due: run-build-code, run-tests

Use better diode position in default settings
  tests/backend-tests/test_backend.py
Due: run-tests

Implement configurable queue size
  deploy/production.env
  kicad-backend/cmd/server/main.go
Due: run-deploy

Harden deployment traefik settings
  deploy/docker-compose.yml
  deploy/traefik-dynamic.yml
  tests/backend-tests/test_backend.py
Due: run-deploy, run-tests

Simplify circleci setup
  .circleci/config.yml
  .circleci/continue-config.yml
Due: run-build-code

Rename backend directory
  .circleci/config.yml
  .justfile
  backend/cmd/server/main.go
  backend/cmd/worker/main.go
  backend/docker-compose.yml
  backend/docker/server.Dockerfile
  backend/docker/worker.Dockerfile
  backend/go.mod
  backend/go.sum
  backend/go.work
  backend/internal/common/env.go
  backend/internal/common/progress.go
  backend/internal/kicad/errors.go
  backend/internal/kicad/kicad.go
  backend/internal/kicad/paths.go
  backend/internal/storage/filer.go
  backend/internal/storage/zip.go
  backend/internal/worker/config.go
  backend/internal/worker/task_handler.go
  backend/internal/worker/worker.go
Due: run-build-code

Fix GitHub Pages deploy
  .github/workflows/main.yml
Due: none

Redirect to PCB generator button to kle-ng
  frontend/landing-page/src/App.vue
Due: none

deploy: 9d7b23dc30852cf5a945fbf23496542abd172a60
  .nojekyll
  assets/audiowide-latin-400-normal-6GFCX7ni.woff2
  assets/audiowide-latin-400-normal-D6mHIfnv.woff
  assets/audiowide-latin-ext-400-normal-BAMgNcg_.woff
  assets/audiowide-latin-ext-400-normal-DBgo3hnO.woff2
  assets/index-Cu0_T--B.css
  assets/index-DiltgXAU.js
  favicon.ico
  index.html
Due: none

Create CNAME
  CNAME
Due: none

Update landing page
  frontend/landing-page/src/App.vue
Due: none

deploy: b59bd26ed923a4ede2d7f458e5985bc400b23a09
  .nojekyll
  assets/audiowide-latin-400-normal-6GFCX7ni.woff2
  assets/audiowide-latin-400-normal-D6mHIfnv.woff
  assets/audiowide-latin-ext-400-normal-BAMgNcg_.woff
  assets/audiowide-latin-ext-400-normal-DBgo3hnO.woff2
  assets/index-Caz_HZbx.css
  assets/index-DwX4WrVt.js
  favicon.ico
  index.html
Due: none

Add docs link
  frontend/landing-page/src/App.vue
Due: none

Update dependencies
  frontend/landing-page/package-lock.json
  frontend/landing-page/package.json
Due: none

deploy: cbc4d1f9a98a1152136e5bb32fa87cb0f37d5177
  .nojekyll
  assets/audiowide-latin-400-normal-6GFCX7ni.woff2
  assets/audiowide-latin-400-normal-D6mHIfnv.woff
  assets/audiowide-latin-ext-400-normal-BAMgNcg_.woff
  assets/audiowide-latin-ext-400-normal-DBgo3hnO.woff2
  assets/index-CMGEJ63H.css
  assets/index-DzJkE4YF.js
  favicon.ico
  index.html
Due: none
