Repository adamws/keyboard-tools: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-deploy, run-build-code, run-tests, run-deploy-docs

Fix worker dependencies
  kicad-api/requirements.txt
Due: run-build-code

Update docs dependencies
  docs/package-lock.json
  docs/package.json
Due: run-deploy-docs

Update webapp dependencies
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code

Update tests dependencies
  tests/conftest.py
  tests/docker-compose.yml
  tests/pytest.ini
  tests/requirements.txt
  tests/style.css
Due: run-tests

Update switch footprint library
  README.md
  docs/src/examples.md
  kicad-api/Dockerfile
  kicad-api/src/kicad.py
  tests/backend-tests/test_backend.py
  webapp/src/components/PcbSettings.vue
Due: run-build-code, run-tests, run-deploy-docs

Update server dependencies
  server/go.mod
  server/go.sum
Due: run-build-code

Update worker dependencies
  kicad-api/requirements.txt
Due: run-build-code

Update to new `kbplacer` version
  kicad-api/Dockerfile
  kicad-api/src/kicad.py
Due: run-build-code

Add render zoom and drag
  webapp/src/components/PcbRender.vue
Due: run-build-code

Render back side mirrored
  kicad-api/src/kicad.py
Due: run-build-code

Get better error messages
  kicad-api/src/kicad.py
Due: run-build-code

Remove subprocesses calls
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
Due: run-build-code

Code formatting
  kicad-api/src/kicad.py
  kicad-api/src/tasks.py
Due: run-build-code

Organize imports
  kicad-api/src/kicad.py
  kicad-api/src/tasks.py
Due: run-build-code

Add layout sanitize and sort stage
  kicad-api/src/kicad.py
Due: run-build-code

Add handlers for skidl and kinet2pcb loggers
  kicad-api/src/kicad.py
  tests/e2e-tests/test_layout_uploads.py
Due: run-build-code, run-tests

Fix netlist assignments for MX/Alps Hybrid footprint
  kicad-api/requirements.txt
Due: run-build-code

Update some information about routing
  docs/src/features.md
  docs/src/guide.md
Due: run-deploy-docs

Stop bundling switch library with project archive
  docs/src/guide.md
  kicad-api/Dockerfile
  kicad-api/requirements.txt
  kicad-api/src/keyboard.kicad_pro.template
  kicad-api/src/kicad.py
  tests/e2e-tests/test_layout_uploads.py
Due: run-build-code, run-tests, run-deploy-docs

Fix typos
  docs/src/guide.md
  docs/src/index.md
Due: run-deploy-docs

Add website link to logo
  README.md
Due: none

Add layout gallery link
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Fix text alignment
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Code format
  webapp/index.html
  webapp/src/components/KicadHandler.vue
  webapp/src/components/KleConverter.vue
  webapp/src/components/PcbRender.vue
Due: run-build-code

Make menu bar more compact and responsive
  webapp/src/App.vue
  webapp/src/main.js
  webapp/src/style.css
Due: run-build-code

Rework component to use grid layout
  webapp/src/components/PcbSettings.vue
Due: run-build-code

Move version from footer to top bar
  webapp/src/App.vue
Due: run-build-code

Fix position of menu icon when menu collapsed
  webapp/src/App.vue
Due: run-build-code

Use svg github icon
  webapp/src/App.vue
  webapp/src/assets/GitHub-Mark-32px.png
  webapp/src/assets/github-mark.svg
Due: run-build-code

Remove unneeded `defineProps` import
  webapp/src/components/PcbRender.vue
Due: run-build-code

Make links prettier
  webapp/src/style.css
Due: run-build-code

Fix spacing between PCB render and download button
  webapp/src/components/KicadHandler.vue
Due: run-build-code

Open external websites in new tab
  webapp/src/components/About.vue
  webapp/src/components/Help.vue
  webapp/src/components/KicadHandler.vue
  webapp/src/components/KleConverter.vue
Due: run-build-code

Add more details to error message
  server/web/app.go
Due: run-build-code

Add diode footprint selection
  kicad-api/src/kicad.py
  server/web/app.go
  tests/e2e-tests/test_layout_uploads.py
  webapp/src/components/PcbSettings.vue
Due: run-build-code, run-tests

Update `kle2netlist` and add new switch footprint
  kicad-api/requirements.txt
  kicad-api/src/kicad.py
  server/web/app.go
  tests/backend-tests/test_backend.py
  tests/e2e-tests/test_layout_uploads.py
  webapp/src/components/PcbSettings.vue
Due: run-build-code, run-tests

Reorder settings
  webapp/src/components/PcbSettings.vue
Due: run-build-code

Add more diode footprint choices
  webapp/src/components/PcbSettings.vue
Due: run-build-code

Add option to enable only switch-diode routing
  kicad-api/src/kicad.py
  webapp/src/components/PcbSettings.vue
Due: run-build-code

Update dependencies
  webapp/package-lock.json
  webapp/package.json
Due: run-build-code

Path conditions:
  run-deploy: any of: deploy/.*
  run-build-code: ((any of: kicad-api/.*) or (any of: server/.*)) or (any of: webapp/.*)
  run-tests: any of: tests/.*
  run-deploy-docs: any of: docs/.*
